<div class="content">
  <h1>My Store</h1>
  <p>
    I find inspiration in ad copy that takes little space to reflect a strong
    message. Sure, you’ll need to write much more than a couple of sentences for
    your content marketing, but simplicity has merit. How well you write always
    sets the stage for what’s to come. Creativity can emerge in many ways.
    Sometimes, it’s a simple starting point. It might be wise to reflect the
    times and a significant sentiment. These examples tap into beauty, memes, a
    health crisis, and a love of pets.
  </p>
</div>
